body {
	padding: 0;
	margin: 0;
	font-family: Arial;
	background: rgba(255, 255, 255, 1);
	text-align: left; }

h1, header h1 {
	display: block;
	width: auto;
	max-width: 1500px;
	text-align: left;
	margin: 100px 30px 100px;
	padding: 0;
	font-size: 45px;
	line-height: 45px; }

@media only screen and (max-width: 1500px)  {
	h1, header h1 { font-size: 38px; line-height: 42px; }
	}

.footer_spacer {
	height: 100px;
	display: block; }

.list-marker {
	font-size: 90;
	padding-right: 15px;
	opacity: 0.85; }



/* ACCOUNT AND NAVIGATION BAR */

#account-bar {
	width: 100%;
	font-family: Verdana, Arial;
	position: absolute;
	right: 0;
	top: 20px;
	font-size: 80%; }

#account-bar div {
	position: inline;
	margin: 0 20px;
	}

#navigation-bar {
	width: 100%;
	font-family: Verdana, Arial;
	position: absolute;
	left: 0;
	top: 20px;
	font-size: 110%;
	}

#navigation-bar div {
	position: inline;
	margin: 0 20px;
	}

#navigation-search-input {
	display: block;
	width: 80%;
	max-width: 600px;
	margin: 60px auto 0;
	border-radius: 100px;
	border: 0;
	font-size: 16px;
	line-height: 17px;
	text-align: center;
	box-shadow: 5px 5px 30px -5px <? echo $color ?>;
	background: rgba(255,255,255,0.95);
	padding: 20px 20px;
	color: rgba(30,30,30,1); }


#navigation-search-input::-webkit-input-placeholder {
	color: rgba(30,30,30,0.65); }


/* FORMS */

.no_background {
	background: none; }

*:focus {
	outline: none; }


*:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset; }

::-webkit-input-placeholder {
	color: rgba(100,100,100,0.7); }

select {
	overflow-y: auto;
	overflow-x: none;
	font-size: 14px;
	padding: 10px;
	width: auto;
	max-height: 400px;
	border: 2px solid #ddd;
	box-shadow: 0; }

option {
	text-overflow: ellipsis;
	padding: 10px 15px;
	display: block;
	white-space: nowrap;
	overflow: hidden; }

option:checked, .option_checked {
	background: #ddd;
	}

option:disabled {
	font-weight: 700;
	padding: 10px 10px 5px 13px;
	color: #bbb; }

optgroup {
	font-weight: 400;
	padding: 7px 10px 0 10px;
	font-style: italic;
	color: #bbb; }

optgroup option {
	font-style: normal; color: #333; }

optgroup option:first-child {
	margin-top: 5px; }

.input-description {
	font-family: Arial;
	margin: 20px 0 0;
	width: 400px;
	max-width: 80%;
	font-size: 13px;
	padding: 0 10px;
	display: block;
	opacity: 0.7;
	text-align: left;
	font-style: italic; }

.input-description + input {
	margin-top: 5px; }

input {
	border: 0;
	height: 26px;
	background: rgba(255,255,255,1);
	border-radius: 2px;
	border: 1px solid rgba(200,200,200,1);
	padding: 6px 10px;
	color: rgba(80,80,80,0.8);
	width: 400px;
	max-width: 80%;
	font-size: 17px;
	margin: 15px 0;
	display: block; }


textarea {
	resize: none;
	display: block;
	width: auto;
	height: 600px;
	margin: 20px auto 40px;
	padding: 10px 20px;
	clear: both;
	background: #fff;
	font-size: 13px;
	font-weight: 300;
	border: 1px solid rgba(100,100,100,0.3);
	border-radius: 2px;
	box-shadow: none; }

#schedule {
	display: inline-block;
	background: rgba(255,255,255,1);
	border-radius: 4px;
	padding: 30px 50px 40px;
	margin: 40px; }

#schedule h2 {
	margin: 0 auto 20px;
	display: block; }

#schedule div {
	display: inline-block;
	font-size: 140%;
	width: auto;
	min-width: 170px;
	margin: 10px;
	color: rgba(120,120,120,0.5);}

#schedule div a {
	color: rgba(0,0,0,1); }

#schedule sup {
	font-style: italic;
	font-size: 50%; }

#schedule sup::before {
	content: '('; }

#schedule sup::after {
	content: ')'; }


/* LOGIN */

div.login {
	margin: 100px 0 100px;
	padding: 0;
	display: block;
	text-align: center; }

div.login .input-description {
	margin: 50px auto 0;
	padding: 0 10px; }

div.login input {
	color: #333;
	background: none;
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: #333;
	border-radius: 0;
	text-align: left;
	display: block;
	width: 400px;
	max-width: 80%;
	margin: 10px auto;
	position: relative;
	font-size: 20px;
	padding: 3px 10px 10px; }

div.login .g-recaptcha {
	margin: 30px auto 0;
	display: inline-block; }

button#login-window-submit-button {
	display: inline-block;
	min-width: 300px;
	width: auto;
	max-width: 70%;
	margin: 60px auto;
	color: #fff;
	border: 0;
	box-shadow: 0;
	border-radius: 8px;	
	font-size: 16px;
	font-family: Verdana, Arial;
	line-height: 16px;
	padding: 10px 20px 9px;
	text-align: center; }

button#login-window-submit-button i {
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 3px; }

div#login-window-home-button {
	display: block;
	text-align: left;
	font-family: Verdana, Arial;
	font-size: 16px;
	border: 0;
	background: 0;
	color: rgba(50,50,50,0.8);
	position: absolute;
	top: 25px;
	left: 25px; }

/* UNLOCK */

div#lock-window {
	display: block;
	margin: 40px 30px 30px; }

div#lock-window span {
	font-family: Verdana, Arial;
	display: block;
	font-style: italic;
	color: rgba(50,50,50,0.6);
	font-size: 12px; }

input#lock-window-password {
	display: inline-block;
	width: 70%;
	max-width: 230px;
	padding: 8px 10px;
	border-radius: 4px;
	border: 1px solid rgba(50,50,50,0.5);
	text-align: left;
	margin: 5px 20px 40px 0; }

button#lock-window-submit-button {
	display: inline-block;
	font-family: Verdana, Arial;
	text-align: left;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	border-radius: 4px;
	padding: 14px 20px 14px 15px;
	margin: 5px 0 40px; }

/* EDIT */

#edit-window {
	width: 100%;
	height: 160px;
	font-family: Verdana, Arial;
	position: relative; }

#edit-window div, #edit-window button, #edit-window a {
	color: rgba(50,50,50,0.8); }

#edit-window .material-icons, #edit-window a .material-icons {
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 3px; }

#edit-window div {
	position: absolute;
	font-size: 15px;
	line-height: 16px;
	padding: 7px 20px; }

div#edit-window-create-button {
	text-align: left;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 7px 20px 5px 15px;
	top: 20px;
	left: 23px; }

div#edit-window-create-button, div#edit-window-create-button a {
	color: #fff; }

div#edit-window-settings-button {
	top: 70px;
	left: 3px; }

div#edit-window-delete-button {
	text-align: right;
	top: 25px;
	right: 160px; }

div#edit-window-open-button {
	text-align: right;
	top: 20px;
	right: 25px;
	padding: 12px 20px 10px;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	border: 1px solid <? echo $color ?>;
	border-radius: 4px; }

div#edit-window-open-button, div#edit-window-open-button a {
	color: <? echo $color ?>; }


/* CREATE */

#create-window {
	display: block;
	padding-top: 100px;
	margin: 30px; }

#create-window-home-button {
	position: absolute;
	top: 20px;
	right: 20px;
	color: <? echo $color ?>;
	font-size: 15px;
	line-height: 16px;
	border: 1px solid <? echo $color ?>;
	border-radius: 4px;
	display: inline-block;
	padding: 10px 20px;
	text-algn: center; }

#create-window > span {
	display: block;
	margin: 10px auto 50px;
	width: 240px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 15px;
	text-align: left;
	color: rgba(50,50,50,0.75); }

#create-window-new-page-button, #create-window-add-snippet-button {
	display: block;
	color: rgba(255,255,255,0.95);
	margin: 50px auto 10px;
	width: 200px;
	text-align: center;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 15px 20px 13px; }

/* DELETE */

img#delete-window-thumbnail {
	text-align: center;
	margin: 150px auto 20px;
	display: block;
	}

div#delete-window-header {
	font-family: Verdana, Arial;
	font-size: 20px;
	display: block;
	margin: 150px auto 20px;
	text-align: center; }

div#delete-window-content-id {
	display: block;
	text-align: center;
	font-family: Arial;
	padding: 0;
	font-size: 13px;
	line-height: 14px;
	text-transform: uppercase;
	color: rgba(50,50,50,0.7);
	border: 0 solid <? echo $color ?>;
	border-radius: 4px;
	margin: 20px 0 80px; }

div#delete-window-back-button {
	display: table;
	margin: 60px auto;
	text-align: center;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 13px 20px 11px 15px; }

div#delete-window-back-button, div#delete-window-back-button a {
	color: #fff; }

#delete-window-delete-button {
	display: block;
	text-align: center;
	margin: 30px auto;
	font-family: Verdana, Arial;
	font-size: 14px;
	border: 0;
	background: 0;
	font-weight: 700;
	color: red; }
	
	
/* ADMIN */

#admin-navigation {
	display: block;
	padding: 70px 0 100px;
	margin: 30px; }

div#admin-navigation-home-button {
	text-align: right;
	top: 20px;
	right: 25px;
	padding: 12px 23px 10px 20px;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	border: 1px solid <? echo $color ?>;
	border-radius: 4px;
	position: absolute;
	display: inline-block;
	}

div#admin-navigation-logout-button {
	text-align: right;
	top: 30px;
	right: 160px;
	position: absolute;
	display: inline-block;	}

div.admin-navigation-option-button {
	position: relative;
	display: inline-block;
	margin: 20px 60px 20px 0px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: rgba(50,50,50,0.7); }

div.admin-navigation-option-button-selected {
	color: <? echo $color ?>; }

div#admin-window {
	text-align: left; }

div#admin-window .input-description {
	margin: 20px 30px 0; }

div#admin-window input, div#admin-window textarea {
	margin: 15px 30px; }

div#admin-window button {
	color: #fff;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
/*	text-transform: uppercase; */
	border-radius: 4px;
	border: 0;
	box-shadow: 0;
/*	padding: 7px 20px 5px 15px; */
	padding: 10px 20px 10px 15px;
	margin: 20px 60px; }

/* ETC */

.nesting-or-popover, .nesting-or-popover section,
.nesting-or-popover ul, .nesting-or-popover ol {
	font-size: 18px;
	line-height: 22px; }

.nesting-or-popover section {
	position: relative;
	margin-left: 30px; }

amp-accordion.nesting-or-popover > section > header {
	top: 0;
	position: sticky;
	border: 0;
	background: none; }

amp-accordion section[expanded] .show-more {
	display: none; }

amp-accordion section:not([expanded]) .show-less {
	display: none; }

.nesting-or-popover .header-borderless {
	font-family: Helvetica, Arial;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 0;
	background: none;
	display: inline-block;
	padding: 4px 10px; }

.nesting-or-popover .header-outline {
	font-family: Helvetica, Arial;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	border-radius: 4px;
	display: inline-block;
	padding: 4px 10px;
	background: none;
	border: 1px solid rgba(100,100,100,0.5); }

.nesting-or-popover ul ul,
.nesting-or-popover ol ol,
.nesting-or-popover ul ol,
.nesting-or-popover ol ul {
	margin: 5px 0 0 0; }

.nesting-or-popover li::before {
	width: 10px; }

.nesting-or-popover ul > li {
	padding: 3px 0 5px 15px; }

.nesting-or-popover ul > li:last-child {
	padding-bottom: 8px; }

.nesting-or-popover ul > li::before {
	top: 11px; }

article .material-icons {
	font-size: 120%;
	vertical-align: middle; }

span.menu_button {
	z-index: 8888888;
	position: fixed;
	width: 60px;
	height: 50px;
	font-size: 40px;
	line-height: 40px;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 -3px 20px -5px rgba(40,40,40,0.35);
	color: rgba(255,255,255,0.95);
	padding: 10px 0 0 0;
	text-align: center;
	margin: 0 auto;
	bottom: 0;
	left: 0;
	right: 0;
	display: block; }
	

.recent-row {
	vertical-align: top;
	color: #999;
	font-weight: 700;
	margin: 10px 15px; }

.tab {
	font-family: Helvetica;
	font-size: 25px;
	line-height: 25px;
	display: block;
	margin: 10px auto;
	border-radius: 4px;
	padding: 10px 20px;
	text-align: center; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; }

.center {
	text-align: center; }

.bold {
	font-weight: 700; }

a, .chosen {
	color: <? echo $color ?>;
	text-decoration: none; }

.paginator {
	margin: 0 auto;
	width: 90%; }

div.paginator span {
	display: inline-block;
	text-align: center;
	margin: 10px 15px;
	padding: 10px 15px;
	border-radius: 5px; }

div.paginator span.bold {
	background: <? echo $color ?>; 
	color: rgba(255,255,255,0.9); }

div.paginator span.bold a {
	color: rgba(255,255,255,0.9); }

@media print {
	#search-header { display: none; }
	.bottom_bar { display: none; } }

.home-header {
	font-family: 'Times New Roman';
	font-size: 23px;
	line-height: 25px;
	text-align: left;
	display: block;
	margin: 80px 30px 0 30px;
	font-style: italic; }

.home-header, .home-header a {
	font-weight: 700;
	color: rgba(150,150,150,0.9); }

.home-description {
	text-align: left; }


.home-description p {
	max-width: 600px; }
